html {
  height: 100%;
  width: 100%;
}

.imagen {
  margin-top: 10px;
  display: center;
  max-width: 100%;
  height: auto;
}

.foto {
  width: 150px;
  height: 150px;
}


.box {
  width: 150px;
  height: 150px;
  background: white;
  display: inline-block;
  border: solid grey 2px;
 font-family: 'Macondo', cursive;
  font-size: 12px;
  color: grey;
  text-align: center;
}

.parrafo{
  font-family: 'Macondo', cursive;
  font-size: 20 px;
  color: black;
  text-align: justify;
  display: inline-block;

}

.titulo {
  background:blue;
  font-family: 'Press Start 2P', cursive;
  font-size: 20 px;
  color: floralwhite;
  text-align: center;

}



.subti {
  font-size:1.5rem
  font-family: 'Macondo', cursive;
}

.su { 

  font-size:0.7em
}


.body {
  font-size: 16 px;
}




.footer {
  font-family: 'Macondo', cursive;
  font-size: 16 px;
  color: white;
  border: 1px;
  text-align: center;
  background: black;
  margin-top: 10px;

}

/*.w{
  float:center;
}*/


@media only screen and (max-width: 768px) {
 third {
 background-color: lightgrey;
 float: right;
 }

@media only screen and (max-width: 768px) {
 /* For mobile phones: */
 [class="col-"] {
 width: 50%;
 }
